[Unit]
Description=API Central System Service
After=multi-user.target
[Service]
Type=simple
Restart=always
Environment="PYTHONPATH=/home/jesuscumpli/CentralSystem/"
ExecStart=/home/jesuscumpli/CentralSystem/venv/bin/python3 /home/jesuscumpli/CentralSystem/main.py
[Install]
WantedBy=multi-user.target