[Unit]
Description=Federative Service
After=multi-user.target
[Service]
Type=simple
Restart=always
Environment="PYTHONPATH=/opt/CentralSystem/"
ExecStart=/opt/CentralSystem//venv/bin/python3 /opt/CentralSystem/federativeService/federativeService.py
[Install]
WantedBy=multi-user.target